@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
 
  padding: 10px;
}

.header {

  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.container {
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
  background-color: rgba(0, 0, 0, 0.1);
  max-width: 700px;
  width: 100%;
  padding: 50px 30px;
  border-radius: 5px;
}

.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 13px 0;
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
  transition: 0.5s;
}

.user-details .input-box .details {
  font-weight: bold;
  margin-bottom: 5px;
  letter-spacing: 2px;
  font-size: 18px;
  display: block;
  color: #fff;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.4s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}
form .gender-details .gender-title {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

form .gender-details .category {
  display: flex;
  width: 80%;
  justify-content: space-between;
  color: #fff;
  margin: 10px 380px 10px 0;
}

.gender-details .category label {
  display: flex;
  align-items: center;
}
.gender-details .category .dot {
  height: 18px;
  width: 18px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  border-color: #d9d9d9;
  background: #9b59b6;
}

form input[type="radio"] {
  display: none;
}

form .button {
  height: 40px;
  margin: 30px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  color: #fff;
  border: none;
  font-weight: bold;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  letter-spacing: 2px;
  border-radius: 5px;
}

form .button input:hover {
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    width: 100%;
  }
  form .gender-details .category {
    width: 100%;
  }

  .container form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::webkit-scrollbar {
    width: 0;
  }
}
